<div class='flex border-b border-zinc-300 pb-4 mb-4'>
  <h1 class='text-2xl flex-1'>Spends</h1>

  <%= link_to 'New Spend', new_spend_path %>
</div>

<table class='table-fixed w-full'>
  <thead class='font-bold'>
    <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Spend group</td>
      <td>Transaction count</td>
    </tr>
  </thead>
  <tbody>
    <% @spends.each do |spend| %>
      <tr>
        <td><%= display_spend_category(spend) %> <%= link_to spend.name, spend_path(spend), class: 'btn btn-link' %></td>
        <td><%= link_to spend.category&.humanize, grouping_path(category: spend.category), class: 'btn btn-link' %></td>
        <td><%= link_to spend.spend_group&.humanize, grouping_path(spend_group: spend.spend_group), class: 'btn btn-link' %></td>
        <td><%= spend.transactions.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>