<h1><%= @spend.name %></h1>

<div class='flex '>
  <%= @spend.category %>
  <%= @spend.spend_group %>

  <%= link_to "Edit spend", edit_spend_path(@spend), class: 'btn btn-link' %>
</div>

<h2>Transactions</h2>
<% Transaction.unscoped do %>
  <%= render 'transactions/list', transactions: @spend.transactions, show_account: true %>
<% end %>