<%= form_with(model: transaction, local: true, html: { autocomplete: "off", class: 'w-full mt-6'}) do |form| %>
  <div class='mb-4'>
    <%= form.label :details %>
    <div class='text-input w-full'><%= transaction.details %></div>
  </div>

  <div class='mb-4'>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'text-input w-full' %>
  </div>

  <div class='mb-4 flex items-center'>
    <div class='mr-4'>
      <%= form.label :personal_transfer %>
      <%= form.check_box :personal_transfer, class: 'text-input' %>
    </div>

    <div class='mr-4'>
      <%= form.label :ignored %>
      <%= form.check_box :ignored, class: 'text-input' %>
    </div>

    <div class='mr-4'>
      <%= form.label :amount %>
      <%= form.text_field :amount, class: 'text-input' %>
    </div>
    <div class='mr-4'>
      <%= form.label :made_at %>
      <%= form.date_field :made_at, class: 'text-input' %>
    </div>

    <div class='mr-4'>
      <%= form.label :account_id %>
      <%= form.select :account_id, options_from_collection_for_select(Account.all, :id, :name, transaction.account_id), {}, class: 'text-input w-32' %>
    </div>

    <div class=''>
      <%= form.label :spend_id %>
      <%= form.select :spend_id, options_from_collection_for_select(Spend.all, :id, :name, transaction.spend_id), {include_blank: true}, class: 'text-input w-32' %>
    </div>
  </div>

  <% if transaction.personal_transfer %>
    <div class='mb-4'>
      <div class=''>
        <%= form.label :transfer_transaction_id %>

        <% if transaction.transfer_transaction %>
          <p>Matched to <%= link_to "#{transaction.transfer_transaction.name} - #{transaction.transfer_transaction.account.name}", transaction_path(transaction.transfer_transaction) %></p>
        <% end %>

        <%= form.select :transfer_transaction_id, options_from_collection_for_select(Transaction.personal_transfer.all, :id, :name, transaction.transfer_transaction_id), {include_blank: true}, class: 'text-input w-32' %>
      </div>
    </div>
  <% end %>
  
  <div class='flex'>
    <%= form.submit 'Update', class: 'btn btn-primary' %>
    <div class='flex-1'></div>
    <%= link_to 'Delete', transaction_path(transaction), method: :delete, confirm: 'Are you sure you wish to delete this transaction?', class: 'btn btn-danger' %>
  </div>
<% end %>