<%= turbo_frame_tag "transactions_list" do %>
  <table class='w-full  mt-1' >
    <thead class='font-bold'>
      <tr>
        <th class='text-left'>Transaction</th>
        <% if show_account %>
          <th class='text-left'>Account</th>
        <% end %>
        <% if show_groupings %>
          <th class='text-left'>Grouping</th>
        <% end %>
        <th class='text-right'>Amount</th>
        <th class='text-right'>Made at</th>
      </tr>
    </thead>

    <tbody>
      <% transactions.each do |transaction| %>
        <tr class='border-b border-zinc-200 scroll-mt-32' id="transaction_<%= transaction.id %>">
          <td class='break-all py-2 max-w-xl'>
            <div class='flex items-center group'>
              <span class='mr-2'><%= display_spend_category(transaction.spend) %></span>
              <% if transaction.transfer_transaction %>
                <span class='flex items-center text-sky-500'>Personal Transfer <%= transaction.amount > 0 ? 'from' : 'to' %>  <%= image_tag transaction.account.logo, class: 'w-4 mr-0.5 ml-2' if transaction.account.logo.attached? %><%= link_to transaction.transfer_transaction.account.name, account_path(transaction.transfer_transaction.account), target: "_top" %></span>
              <% else %>
                <span class='<%= class_if(transaction.ignored, 'line-through') %>'><%= link_to transaction.pretty_name, transaction_path(transaction) %></span>
              <% end %>

              <%= link_to transaction_path(transaction), target: "_top" do %>
                <%= edit_icon(3, 'ml-2 invisible text-gray-600 group-hover:visible') %>
              <% end %>
            </div>
          </td>
          <% if show_account %>
            <td class='flex items-center py-2'><%= image_tag transaction.account.logo, class: 'w-4 mr-1' if transaction.account.logo.attached? %><%= link_to transaction.account.name, account_path(transaction.account), target: "_top" %></td>
          <% end %>
          <% if show_groupings %>
            <td class=''>
              <% if transaction.spend %>
                <%= link_to transaction.spend.category&.humanize, grouping_path(category: transaction.spend.category), target: "_top", class: 'btn btn-link' %>
                /
                <%= link_to transaction.spend.spend_group&.humanize, grouping_path(spend_group: transaction.spend.spend_group), target: "_top", class: 'btn btn-link' %>
              <% end %>
            </td>
          <% end %>
          <td class='text-right'><%= display_amount_colored(transaction.amount, '', transaction.color_override) %></td>
          <td class='text-right'><%= pretty_date_display(transaction.made_at) %></td>
        </tr>
      <% end %>
  </table>

  <% if defined?(@pagy) %>
    <div class='flex items-center mt-6'>
      <%== pagy_nav(@pagy) %>
      <div class='flex-1'></div>
      <div class=''><%== pagy_info(@pagy) %></div>
    <div>
  <% end %>

  <div class='pagy-nav pagination'></div>
<% end %>