<div class='flex border-b border-zinc-300 items-center pb-4 mb-4 gap-4'>
  <h1 class='flex-1 text-2xl font-bold'>Accounts</h1>

  <div class=''>USD -> MXN: <%=  display_amount_colored(Money.us_dollar(100).exchange_to("MXN").to_f) %></div>
  <div class=''>NZD -> MXN: <%=  display_amount_colored(Money.from_cents(100, 'NZD').exchange_to("MXN").to_f) %></div>
  <%= link_to 'New Account', new_account_path, class: 'btn btn-link' %>
</div>

<div class='mt-4 grid grid-cols-4 gap-4'>
  <% @accounts.each do |account| %>
    <div class='border border-gray-300 rounded p-8 text-center'>
      <h2 class='text-2xl font-bold flex items-center justify-center'><%= image_tag account.logo, class: 'w-6 mr-2' if account.logo.attached? %><%= link_to account.name, account_path(account) %></h2>
      <h2 class='text-green-500 text-xl my-2'><%= display_account_balance(account) %></h2>
      <h4 class='mt-1 text-sm flex items-center justify-center'><%= credit_card_icon(4, 'mr-1') %><span class='mr-2'>Spent</span> <%= display_amount_colored(account.spent_between(1.month.ago.beginning_of_month, 1.month.ago.end_of_month)) %>
      <h4 class='mt-1 text-sm flex items-center justify-center'><%= bank_notes_icon(4, 'mr-1') %><span class='mr-2'>Earned</span> <%= display_amount_colored(account.made_between(1.month.ago.beginning_of_month, 1.month.ago.end_of_month)) %>
      <h4 class='mt-1 text-sm flex items-center justify-center border-t border-gray-200'><%= up_down_arrows_icon(4, 'mr-1') %><span class='mr-2'>(<%= 1.month.ago.strftime("%b") %>)</span> <%= display_amount_colored(account.balance_change(1.month.ago.beginning_of_month, 1.month.ago.end_of_month)) %>
    </div>
  <% end %>
</div>

<div class='mt-10'>
  <div class='flex border-b border-zinc-300 items-center pb-4 mb-4'>
    <h1 class='flex-1 text-2xl font-bold'>Totals</h1>

    <div class='text-right mr-8'>
      <h4 class='font-bold'>Accessible Balance</h4>
      <%= only_mxn_balance %>
    </div>
    <div class='text-right mr-8'>
      <h4 class='font-bold'>Total Balance</h4>
      <%= total_mxn_balance %>
    </div>

    <div class=''>
      <% last_6_months.each do |month_data| %>
        <%= link_to accounts_path(start_date: month_data[:start]), class: "border border-gray-300 border-r-0 last:border-r first:rounded-l last:rounded-r px-4 py-2 #{class_if(month_data[:start] >= @start_date, 'bg-sky-50 border-sky-200 text-sky-500')}" do %>
          <%= month_data[:name] %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='grid grid-cols-5 gap-x-4 gap-y-8'>
    <div class='text-center'>
      <h4 class='flex items-center justify-center'><%= credit_card_icon(4, 'mr-1') %>Spent (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= spent_between(@start_date, @end_date) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'><%= bank_notes_icon(4, 'mr-1') %>Earned (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= made_between(@start_date, @end_date) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'><%= up_down_arrows_icon(4, 'mr-1') %>Net (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= net_between(@start_date, @end_date) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'>Monthly avg. spent (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= monthly_avg_spent_between(@start_date, @end_date) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'>Monthly avg. net (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= monthly_avg_net_between(@start_date, @end_date) %>
    </div>

    
    <h3 class='col-span-5 -mb-8'>Monthly's without one off transactions</h3>
    <div class='text-center'>
      <h4 class='flex items-center justify-center'><%= credit_card_icon(4, 'mr-1') %>Spent (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= spent_between(@start_date, @end_date, kinds: Transaction.kinds.keys - ['one_off']) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'><%= bank_notes_icon(4, 'mr-1') %>Earned (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= made_between(@start_date, @end_date, kinds: Transaction.kinds.keys - ['one_off']) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'><%= up_down_arrows_icon(4, 'mr-1') %>Net (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= net_between(@start_date, @end_date, kinds: Transaction.kinds.keys - ['one_off']) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'>Monthly avg. spent (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= monthly_avg_spent_between(@start_date, @end_date, kinds: Transaction.kinds.keys - ['one_off']) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'>Monthly avg. net (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= monthly_avg_net_between(@start_date, @end_date, kinds: Transaction.kinds.keys - ['one_off']) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'><%= credit_card_icon(4, 'mr-1') %>Recurring Spend (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= spent_between(@start_date, @end_date, kinds: ['recurring']) %>
    </div>

    <div class='text-center'>
      <h4 class='flex items-center justify-center'>Recurring Monthly avg. (<%= dates_range_display(@start_date, @end_date) %>)</h4>
      <%= monthly_avg_spent_between(@start_date, @end_date, kinds: ['recurring']) %>
    </div>

    <div class='text-center'>
      <%= link_to 'One-off transactions', grouping_path(one_off: true), class: 'btn btn-link' %>
    </div>

    <div class='text-center'>
      <%= link_to 'Recurring transactions', grouping_path(recurring: true), class: 'btn btn-link' %>
    </div>
  </div>

  <div class='grid grid-cols-2 gap-6 mt-10'>

    <div class=''>
      <div class='border border-gray-300 rounded p-4'>
        <div class='flex items-center justify-between pb-2'>
          <h4 class='font-bold'>
            <%= link_to grouping_path(category: :cafe) do %>
              Coffee (<%= dates_range_display(@start_date, @end_date) %>)
            <% end %>
          </h4>

          <div>Avg. <%= display_amount(monthly_avg_spent_between(@start_date, @end_date, spend: Spend.where(category: :cafe), formatted: false) * -1.0) %></div>
        </div>
        
        <%= area_chart Transaction.where(spend: Spend.where(category: :cafe)).between(@start_date, @end_date).group_by_month(:made_at).sum(:amount).map { |_d, amount| [_d, amount * -1] }, prefix: "$", suffix: " MXN", thousands: ",", precision: 2, colors: ["#6f4e37"] %>
      </div>
    </div>

    <div class=''>
      <div class='border border-gray-300 rounded p-4'>
        <div class='flex items-center justify-between pb-2'>
          <h4 class='font-bold'>
            <%= link_to grouping_path(category: :restaurant) do %>
              Restaurants (<%= dates_range_display(@start_date, @end_date) %>)
            <% end %>
          </h4>

          <div>Avg. <%= display_amount(monthly_avg_spent_between(@start_date, @end_date, spend: Spend.where(category: :restaurant), formatted: false) * -1.0) %></div>
        </div>
        
        <%= area_chart Transaction.where(spend: Spend.where(category: :restaurant)).between(@start_date, @end_date).group_by_month(:made_at).sum(:amount).map { |_d, amount| [_d, amount * -1] }, prefix: "$", suffix: " MXN", thousands: ",", precision: 2, colors: ["#65a30d"] %>
      </div>
    </div>

    <div class=''>
      <div class='border border-gray-300 rounded p-4'>
        <div class='flex items-center justify-between pb-2'>
          <h4 class='font-bold'>
            <%= link_to grouping_path(spend_group: :online_services) do %>
              Online Services (<%= dates_range_display(@start_date, @end_date) %>)
            <% end %>
          </h4>

          <div>Avg. <%= display_amount(monthly_avg_spent_between(@start_date, @end_date, spend: Spend.where(spend_group: :online_services), formatted: false) * -1.0) %></div>
        </div>
        
        <%= area_chart Transaction.where(spend: Spend.where(spend_group: :online_services)).between(@start_date, @end_date).group_by_month(:made_at).sum(:amount).map { |_d, amount| [_d, amount * -1] }, prefix: "$", suffix: " MXN", thousands: ",", precision: 2 %>
      </div>
    </div>

    <div class=''>
      <div class='border border-gray-300 rounded p-4'>
        <div class='flex items-center justify-between pb-2'>
          <h4 class='font-bold'>
            <%= link_to grouping_path(category: :supermarket) do %>
              Supermarket (<%= dates_range_display(@start_date, @end_date) %>)
            <% end %>
          </h4>

          <div>Avg. <%= display_amount(monthly_avg_spent_between(@start_date, @end_date, spend: Spend.where(category: :supermarket), formatted: false) * -1.0) %></div>
        </div>
        
        <%= area_chart Transaction.where(spend: Spend.where(category: :supermarket)).between(@start_date, @end_date).group_by_month(:made_at).sum(:amount).map { |_d, amount| [_d, amount * -1] }, prefix: "$", suffix: " MXN", thousands: ",", precision: 2, colors: ["#61287b"] %>
      </div>
    </div>

    <div class=''>
      <div class='border border-gray-300 rounded p-4'>
        <div class='flex items-center justify-between pb-2'>
          <h4 class='font-bold'>
            <%= link_to grouping_path(category: :entertainment) do %>
              Entertainment (<%= dates_range_display(@start_date, @end_date) %>)
            <% end %>
          </h4>

          <div>Avg. <%= display_amount(monthly_avg_spent_between(@start_date, @end_date, spend: Spend.where(spend_group: :entertainment), formatted: false) * -1.0) %></div>
        </div>
        
        <%= area_chart Transaction.where(spend: Spend.where(spend_group: :entertainment)).between(@start_date, @end_date).group_by_month(:made_at).sum(:amount).map { |_d, amount| [_d, amount * -1] }, prefix: "$", suffix: " MXN", thousands: ",", precision: 2, colors: ["#b91c1c"] %>
      </div>
    </div>

     <div class=''>
      <div class='border border-gray-300 rounded p-4'>
        <div class='flex items-center justify-between pb-2'>
          <h4 class='font-bold'>
            <%= link_to grouping_path(name: 'Amazon') do %>
              Amazon (<%= dates_range_display(@start_date, @end_date) %>)
            <% end %>
          </h4>

          <div>Avg. <%= display_amount(monthly_avg_spent_between(@start_date, @end_date, spend: Spend.where(name: 'Amazon'), formatted: false) * -1.0) %></div>
        </div>
        
        <%= area_chart Transaction.where(spend: Spend.where(name: 'Amazon')).between(@start_date, @end_date).group_by_month(:made_at).sum(:amount).map { |_d, amount| [_d, amount * -1] }, prefix: "$", suffix: " MXN", thousands: ",", precision: 2, colors: ["#f19d38"] %>
      </div>
    </div>


    <div class='col-span-2'>
      <div class='border border-gray-300 rounded p-4'>
        <div class='flex items-center justify-between pb-2'>
          <h4 class='font-bold'>Remaining spends (<%= dates_range_display(@start_date, @end_date) %>)</h4>
        </div>
        <%= line_chart all_spends_chart_accounts_path(start_date: params[:start_date]), height: "500px", prefix: "$", suffix: " MXN", thousands: ",", precision: 2, legend: :bottom %>
      </div>
    </div>  
  </div>
</div>

<div class='mt-10'>
  <div class='flex border-b border-zinc-300 items-center pb-4 mb-4'>
    <%= link_to 'Transactions', transactions_path, class: 'flex-1 text-2xl font-bold' %>
  </div>

  <%= turbo_frame_tag "transactions_list", src: transactions_accounts_path %>
</div>